@charset "utf-8";
*{
	font-family: "微軟正黑體", Sans-serif;
	theme-color: #000099;
}
body{
	margin: 0;
}
h1{
	display: none;
}
.container{
	margin: 0 auto;
}
.logo{
	padding: 10px 20px 0 20px;
}
nav{
	background-color: #99bbff;
	width: 100%;
}
nav ul{
	padding-left: 20px;
}
.img-top{
	width: 100%;
}
li{
	display: inline-block;
	margin: 10px;
}
a{
	text-decoration: none;
	color: black;
}
.con-nav2{
	text-align: right;
	margin: 5px;
	padding: 10px;
	border-bottom: 1px solid gray;
}
.con-nav2 a:hover{
	color: #000099;
}
.title{
	padding: 10px;
	text-align: center;
}
h2{
	margin: 0;
	color: #000099;
}
.con-float{
	margin: 10px;
}
.con-float::after{
	display: block;
	content: "";
	clear: both;
}
.index-item{
	float: left;
	box-sizing: border-box;
	padding: 20px;
	background-color: #f2f2f2;
}
.index-item h3{
	color: #000099;
}
.index-item a{
	color: #000099;
}
.index-item li{
	display: list-item;
}
.index-img{
	float: left;
	box-sizing: border-box;
}
.index-img img{
	width: 100%;
}
.con-item{
	float: left;
	box-sizing: border-box;
	width: 50%;
}
.packaging-machinery{
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	text-align: center;
}
.packaging-machinery:hover{
	background-color: #ccddff;
}
.packaging-machinery::after{
	display: block;
	content: "";
	clear: both;
}
.packaging-machinery p{
	margin: 0;
	padding: 10px;
	border-top: 1px solid black;
}
.product-img{
	box-sizing: border-box;
	float: left;
	padding: 0 20px;
}
.product-img img{
	width: 100%;
	display: block;
}
.product-spec{
	box-sizing: border-box;
	float: left;
	padding: 0 20px;
}
.product-spec h2{
	margin-top: 50px;
}
.product-spec h3{
	font-weight:normal;
	font-size: 20px;
}
.product-clear{
	border: 0;
	height: 1px;
	background-color: #d9d9d9;
	margin: 25px 0;
}
.product-feat{
	box-sizing: border-box;
	float: left;
	padding: 0 20px;
}
.product-feat h3{
	font-weight:normal;
	font-size: 20px;
}
.product-feat p{
	margin: 5px 0;
}
.product-clear{
	clear: both;
}
.about-us-ul li{
	display: list-item;
}
.con-left{
	float: left;
}
.con-right{
	float: right;
}
.sitemap{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 40px;
}
.sitemap a:hover{
	color: #000099;
}
.sitemap li{
	display: list-item;
	margin: 5px;
}
.bottom{
	background-color: #f2f2f2;
	padding: 20px 0;
	border-bottom: 1px solid black;
}
.bottom p{
	margin: 10px 0;
	color: #666666;
	border-bottom: 1px dashed #999999;
}
.bottom a:hover{
	color: #000099;
}
footer{
	background-color: #99bbff;
}
.con-footer{
	padding: 5px;
	text-align: center;
}
.con-footer p{
	margin: 5px;
}

@media (max-width: 511px){
	.container{
		max-width: 500px;
	}
	.logo-img{
		width: 100%;
	}
	nav ul{
		padding-left: 2%;
	}
	li{
		margin: 10px 5px;
	}
	.homepage
	{
		display: none;
	}
	.index-img{
		width: 100%;
	}
	.con-item{
		width: 100%;
	}
	.item-center{
		width: 300px;
		margin: 10px auto;
	}
	.packaging-machinery{
		padding: 10px;
	}
	.img-item{
		width: 100%;
	}
	.product-img{
		width: 100%;
	}
	.product-spec{
		width: 100%;
	}
	.product-feat{
		width: 100%;
	}
}

@media (max-width: 719px) and (min-width: 512px){
	.container{
		max-width: 600px;
	}
	.index-img{
		width: 100%;
	}
	.con-item{
		width: 50%;
	}
	.item-center{
		width: 240px;
		margin: 10px auto;
	}
	.packaging-machinery{
		padding: 10px;
	}
	.img-item{
		width: 100%;
	}
	.product-img{
		width: 100%;
	}
	.product-spec{
		width: 100%;
	}
	.product-feat{
		width: 100%;
	}
	.bot-right{
		margin-top: 40px;
	}
}

@media (max-width: 959px) and (min-width: 720px){
	.container{
		max-width: 768px;
	}
	.index-img{
		width: 100%;
	}
	.con-item{
		width: 50%;
	}
	.item-center{
		width: 320px;
		margin: 10px auto;
	}
	.packaging-machinery{
		padding: 10px;
	}
	.product-img{
		width: 50%;
	}
	.product-spec{
		width: 50%;
	}
	.product-feat{
		width: 50%;
	}
	.bot-left{
		float: left;
		width: 40%;
		padding: 0 25px;
	}
	.bot-right{
		float: left;
		width: 45%;
		padding: 0 25px;
	}
}

@media (max-width: 1151px) and (min-width: 960px){
	.container{
		max-width: 1024px;
	}
	.index-item{
		width: 50%;
	}
	.index-img{
		width: 50%;
	}
	.con-item{
		width: 50%;
	}
	.item-center{
		width: 420px;
		margin: 10px auto;
	}
	.packaging-machinery{
		padding: 10px;
	}
	.product-img{
		width: 50%;
	}
	.product-spec{
		width: 50%;
	}
	.product-feat{
		width: 50%;
	}
	.bot-left{
		float: left;
		width: 50%;
		padding-left: 20px;
	}
	.bot-right{
		float: left;
		width: 40%;
		padding-left: 50px;
	}
}

@media (min-width: 1152px){
	.container{
		max-width: 1280px;
	}
	.index-item{
		width: 50%;
	}
	.index-img{
		width: 50%;
	}
	.con-item{
		width: 33.3333%;
	}
	.item-center{
		width: 350px;
		margin: 10px auto;
	}
	.packaging-machinery{
		padding: 10px;
	}
	.packaging-machinery img{
		margin: 10px 0;
	}
	.product-img{
		width: 50%;
	}
	.product-spec{
		width: 50%;
	}
	.product-feat{
		width: 50%;
	}
	.bot-left{
		float: left;
		width: 50%;
		padding-left: 50px;
	}
	.bot-right{
		float: left;
		width: 40%;
		padding-left: 50px;
	}
}